$primary-color: hsl(247, 51%, 38%);
$disabled-color: hsl(247, 51%, 60%);
$shadow-color: #00000040;
$header-color: #3b3b3b;
$text-color: #717171;
$placeholder-color: #cccccc;
$border-color: #cccccc;
$error-color: #e91e63;
$white-color: #f9f9f9;
