$text-size: 17px;
$input-size: 18px;
$label-size: 15px;
$base-space: 30px;
$small-media: 490px;
$medium-media: 900px;
// $multi-margin: 5;
// $col-direction: row;

// @media (max-width: $small-media) {
//   $multi-margin: 3;
//   $col-direction: column;
// }
